<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
    <meta charset="utf-8">
    <title>The Fruity</title>
  </head>
  <body>

    	<%= yield %>
  </body>
</html>
